.animated_background {
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
}
.browsing_bottom {
    position: fixed;
    top: 0;
    left: 0;
    background-color: brown;
    width: 1%;
    height: 100%;
}
.browsing_left, .browsing_right {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: brown;
}
.browsing_left {
    width: 100%;
    height: 1%;
}

.browsing_right {
    width: 1%;
    height: 100%;
}
.wrapper {
    padding-top: 50px;
    margin-bottom: 149px;
    margin-left: 245px;
    margin-right: 245px;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 93px; 
    border-radius: 5px;
    background: rgba(0, 1, 28, 0.50); 
    margin: 0 auto;
}
.absolute {
    position: absolute;
}
.header_top_1 {
    width: 101px;
    height: 20px; 
    top: 0;
    left: 0;
    border-top: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF; 
    border-radius: 5px 0px;
} 
.header_top_2 {
    width: 80px;
    height: 5px; 
    top: 0;
    background: #43F8FF; 
} 
.header_top_3 {
    width: 101px;
    height: 20px;
    top: 0;
    right: 0;
    border-radius: 0px 5px;
    border-top: 5px solid #43F8FF;
    border-right: 5px solid #43F8FF; 
}
.header_text{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.header_bottom_1 {
    width: 101px;
    height: 20px; 
    left: 0;
    bottom: 0;
    border-radius: 0px 5px;
    border-bottom: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF; 
} 
.header_bottom_2 {
    width: 80px;
    height: 5px; 
    bottom: 0;
    background: #43F8FF; 
} 
.header_bottom_3 {
    width: 101px;
    height: 20px; 
    right: 0;
    bottom: 0;
    border-radius: 5px 0px;
    border-right: 5px solid #43F8FF;
    border-bottom: 5px solid #43F8FF; 
}
.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 57px;
}
.section {
    border-radius: 5px;
    /* background: rgba(110, 111, 121, 0.5);  */
}
.section_1 {
    justify-content: center;
    float: left;
    width: 405px;
    height: 514px;
    border-radius: 5px;
    
}
.div_section_1 {
    width: 405px;
    height: 55px; 
    border-radius: 5px 5px 0px 0px;
    border-top: 5px solid #43F8FF;
    border-right: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF; 
    background: rgba(0, 1, 28, 0.50); 
    
}
.section_text_1 {
    text-align: center;
    width: 100%;
    height: 41px;
    flex-direction: column;
    justify-content: center; 
} 
.article_1 {
    position: relative;
    width: 405px;
    height: 470px; 
    border-radius: 0px 0px 5px 0px;  
    border: 5px solid #43F8FF;
    background: rgba(0, 1, 28, 0.50); 
}
.usd {
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 35px; 
    border-bottom: 5px solid #43F8FF; ;
}
.usd p {
    display: flex;
    width: 45px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
}
.weather {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 35px; 
    border-bottom: 5px solid #43F8FF; ;
}
.weather p {
    display: flex;
    width: 45px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0; 
    text-align: center;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.section_2 {
    justify-content: center;
    float: left;
    width: 470px;
    height: 514px; 
    margin-left: 75px;
}
.div_section_2 {
    width: 470px;
    height: 55px; 
    border-radius: 5px 5px 0px 0px;
    border-top: 5px solid #43F8FF;
    border-right: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF; 
    background: rgba(0, 1, 28, 0.50); 
}
.section_text_2 {
    text-align: center;
    width: 100%;
    height: 41px; 
    flex-direction: column;
    justify-content: center;
} 
.article_2 {
    width: 405px;
    height: 470px; 
}
.section_3 {
    justify-content: center;
    float: right;
    width: 405px;
    height: 514px; 
    margin-left: 75px;
}
.div_section_3 {
    width: 405px;
    height: 55px; 
    border-radius: 5px 5px 0px 0px;
    border-top: 5px solid #43F8FF;
    border-right: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF;
    background: rgba(0, 1, 28, 0.50);  
}
.section_text_3 {
    text-align: center;
    width: 100%;
    height: 41px; 
    flex-direction: column;
    justify-content: center; 
}
.article_3 {
    position: relative;
    width: 405px;
    height: 470px; 
    border-radius: 0px 0px 0px 5px;  
    border: 5px solid #43F8FF;
    background: rgba(0, 1, 28, 0.50); 
}
.footer {
    position: relative;
    margin: 0 auto;
    width: 1430px;
    height: 100px; 
    border-radius: 0px 0px 5px 5px;
    border-right: 5px solid #43F8FF;
    border-bottom: 5px solid #43F8FF;
    border-left: 5px solid #43F8FF; 
    background: rgba(0, 1, 28, 0.50); 
}
