{% extends 'main/basic.html'%}
{% load static %}

{% block title %}MyBoard-END{% endblock %}
{% block load_title %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script src="{% static 'main/js/three.min.js' %}"></script>
    <script src="{% static 'main/js/vanta.birds.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="animated_background"></div>
<div class="browsing">
    <div class="browsing_bottom" onmouseover=""></div>
    <div class="browsing_left" onmouseover=""></div>
    <div class="browsing_right" onmouseover=""></div>
</div>
<div class="wrapper">
    <header>
        <div class="header">
            <div class="absolute header_top_1"></div>
            <div class="absolute header_top_2"></div>
            <div class="absolute header_top_3"></div>
            <div><h1 class="header_text color_1 font_1" id="header_text_anim">MyBoard-END</h1></div>
            <div class="absolute header_bottom_1"></div>
            <div class="absolute header_bottom_2"></div>
            <div class="absolute header_bottom_3"></div>
        </div>
    </header>
    <main class="main">
        <section class="section section_1">
            <div class="div_section_1">                 
                <h2 class="section_text_1 color_1 font_1">Переменные</h2>
            </div>
            <article class="article_1">
                <div class="usd">
                    <p class="color_1 font_1">USD</p>
                </div>
                <div class="weather">
                    <p class="color_1 font_1">+31</p>
                </div>
                {% comment %} <div class="article_1_main">
                    <p>23:23</p>
                </div> {% endcomment %}
            </article>
        </section>
        
        <section class="section section_2">
            <div class="div_section_2"> 
                <h2 class="section_text_2 color_1 font_1">Основные</h2>
                {% comment %} <a href="{% url 'index' %}">dddd</a> {% endcomment %}
            </div>
            <article class="article_2">
                <div class="float_left">
                    <div class="article_2_block article_2_section_1"><div class="article_2_section_0 article_2_section_0_1"><img class="article_2_img_1" src="{% static 'main/img/icons/info-lg 1.svg' %}"  alt=""></div></div>
                    <a href="{% url 'index' %}"><div class="article_2_block article_2_section_2 margin_top"><img class="article_2_img_2" src="{% static 'main/img/icons/Group 1.svg' %}"  alt=""></div></a>
                    <div class="article_2_block article_2_section_3 margin_top"><div class="article_2_section_0 article_2_section_0_2"><img class="article_2_img_1" src="{% static 'main/img/icons/telephone-plus-fill 1.svg' %}"  alt=""></div></div>
                </div>
                <div class="float_left">
                    <a href="{% url 'home' %}"><div class="article_2_block article_2_section_4 margin_left"><img class="article_2_img_2" src="{% static 'main/img/icons/house-door-fill 2.svg' %}"  alt=""></div></a>
                    <a href="{% url 'browser' %}"><div class="article_2_block article_2_section_5 margin_left margin_top"><img class="article_2_img_2" src="{% static 'main/img/icons/browser-firefox 1.svg' %}"  alt=""></div></a>
                    <a href="{% url 'honors' %}"><div class="article_2_block article_2_section_6 margin_left margin_top"><img class="article_2_img_2" src="{% static 'main/img/icons/award-fill 1.svg' %}"  alt=""></div></a>
                </div>
                <div class="float_left">
                    <div class="article_2_block article_2_section_7 margin_left"><div class="article_2_section_0 article_2_section_0_3"><img class="article_2_img_1" src="{% static 'main/img/icons/gear-fill 2.svg' %}"  alt=""></div></div>
                    <a href="{% url '3d_room' %}"><div class="article_2_block article_2_section_8 margin_left margin_top"><img class="article_2_img_2" src="{% static 'main/img/icons/Vector.svg' %}"  alt=""></div></a>
                    <div class="article_2_block article_2_section_9 margin_left margin_top"><div class="article_2_section_0"><img class="article_2_img_1" src="{% static 'main/img/icons/piggy-bank-fill 1.svg' %}"  alt=""></div></div>
                </div>
            </article>
        </section>
        <section class="section section_3">
            <div class="div_section_3"> 
                <h2 class="section_text_3 color_1 font_1">Чат</h2>
            </div>
            <article class="article_3">
            </article>
        </section>
    </main>
    <footer class="footer">
        <div class="absolute footer_div">
            <div class="footer_1">
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/javascript-logo-svgrepo-com 1.svg' %}"  alt="javascript_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/css-3-svgrepo-com 1.svg' %}"  alt="css_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/html-5-svgrepo-com 1.svg' %}"  alt="html_logo"></div>
            </div>
            <div class="footer_2">
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/django-icon-svgrepo-com 1.svg' %}"  alt="django_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/python-svgrepo-com 1.svg' %}"  alt="python_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/api-interface-svgrepo-com 1.svg' %}"  alt="api_logo"></div>
            </div>
            <div class="footer_3">
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/flet-logo-no-text 1.svg' %}"  alt="flet_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/github-color-svgrepo-com 1.svg' %}"  alt="github_logo"></div>
                <div class="footer_block float_left"><img class="footer_img" src="{% static 'main/img/pictures_svg/hf-logo 1.svg' %}"  alt="hf_logo"></div>
            </div>
        </div>
    </footer>
</div>
<script src="{% static 'main/js/swapdogs.min.js' %}"></script>
<script src="{% static 'main/js/SWAPDOGS.js' %}"></script>
<script src="{% static 'main/js/VANTA.js' %}"></script>
{% endblock %}