{% extends 'main/basic.html'%}
{% load static %}

{% block title %}MyBoard-END{% endblock %}
{% block load_title %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
    <script src="{% static 'main/js/three.min.js' %}"></script>
    <script src="{% static 'main/js/vanta.birds.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="animated_background"></div>
<!--
<div class="browsing">
    <div class="browsing_bottom" onmouseover="alert('над красным!')"></div>
    <div class="browsing_left" onmouseover="alert('над красным!')"></div>
    <div class="browsing_right" onmouseover="alert('над красным!')"></div>
</div>
-->
<div class="wrapper">
    <header>
        <div class="header">
            <div class="absolute header_top_1"></div>
            <div class="absolute header_top_2"></div>
            <div class="absolute header_top_3"></div>
            <div><h1 class="header_text color_1 font_1" id="header_text_anim">MyBoard-END</h1></div>
            <div class="absolute header_bottom_1"></div>
            <div class="absolute header_bottom_2"></div>
            <div class="absolute header_bottom_3"></div>
        </div>
    </header>
    <main class="main">
        <section class="section section_1">
            <div class="div_section_1">                 
                <h2 class="section_text_1 color_1 font_1">Переменные</h2>
            </div>
            <article class="article_1">
                <div class="usd">
                    <p class="color_1 font_1">USD</p>
                </div>
                <div class="weather">
                    <p class="color_1 font_1">+31</p>
                </div>
                {% comment %} <div class="article_1_main">
                    <p>23:23</p>
                </div> {% endcomment %}
            </article>
        </section>
        
        <section class="section section_2">
            <div class="div_section_2"> 
                <h2 class="section_text_2 color_1 font_1">Основные</h2>
                {% comment %} <a href="{% url 'index' %}">dddd</a> {% endcomment %}
            </div>

            {% comment %} <article class="article_2">
                <div class="article_group_1"></div>
                    <div class=""></div>
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="article_group_1"></div>
                    <div class=""></div>
                    <div class=""></div>
                    <div class=""></div>
                </div>
                <div class="article_group_1"></div>
                    <div class=""></div>
                    <div class=""></div>
                    <div class=""></div>
                </div>
            </article> {% endcomment %}
        </section>

        <section class="section section_3">
            <div class="div_section_3"> 
                <h2 class="section_text_3 color_1 font_1">Чат</h2>
            </div>
            <article class="article_3">
            </article>
        </section>
    </main>
    {% comment %} <footer class="footer">
        <div class="">
            <p>g</p>
        </div>
    </footer>  {% endcomment %}
</div>
<script src="{% static 'main/js/swapdogs.min.js' %}"></script>
<script src="{% static 'main/js/SWAPDOGS.js' %}"></script>
<script src="{% static 'main/js/VANTA.js' %}"></script>
{% endblock %}