{% extends 'main/basic.html'%}
{% load static %}

{% block title %}MyBoard-END{% endblock %}
{% block load_title %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block body %}
<div class="wrapper">
    <div class="browsing">
        <div class="browsing_bottom"></div>
        <div class="browsing_left"></div>
        <div class="browsing_right"></div>
    </div>
    <header>
        <div class="header">
            <div class="header_top_1"></div>
            <div class="header_top_2"></div>
            <div class="header_top_3"></div>
            <h1 class="header_text color_1 font_1">MyBoard-END</h1>
            <div class="header_bottom_1"></div>
            <div class="header_bottom_2"></div>
            <div class="header_bottom_3"></div>
        </div>
    </header>
    <main>
        <section>
            <div class="section_1">
                <svg width="409" height="14" viewBox="0 0 409 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 11L12.7404 3.83975C13.5617 3.29219 14.5268 3 15.5139 3H393.486C394.473 3 395.438 3.29219 396.26 3.83975L407 11" stroke="#43F8FF" stroke-width="6"/></svg>                    
                <h2 class="section_text_1 color_1 font_2">Переменные</h2>
                <article class=""></article>
            </div>
        </section>
        <section>
            <div class="section_2">
                <svg width="474" height="14" viewBox="0 0 474 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 11L12.7404 3.83975C13.5617 3.29219 14.5268 3 15.5139 3H458.486C459.473 3 460.438 3.29219 461.26 3.83975L472 11" stroke="#43F8FF" stroke-width="6"/></svg>                    
                <h2 class="section_text_2 color_1 font_2">Основные</h2>
                <article class=""></article>
            </div>
        </section>
        <!--
        <section>
            <div class="section_3">
                <svg width="409" height="14" viewBox="0 0 409 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M2 11L12.7404 3.83975C13.5617 3.29219 14.5268 3 15.5139 3H393.486C394.473 3 395.438 3.29219 396.26 3.83975L407 11" stroke="#43F8FF" stroke-width="6"/></svg>
                <h2 class="section_text_3 color_1 font_2">Чат</h2>
                <article class=""></article>
            </div>
        </section>
        -->
    </main>
    <footer></footer>
</div>
{% endblock %}